environment: production

# [ubuntu, ol8]
distro: ubuntu

# linux user
user_name: admin
group_name: admin

# git config global
git_name: admin
git_email: admin@example.com

# shellロール実行時に設定されるログインシェル
# [zsh, fish]
login_shell: zsh

roles:
  # - base
  # - shell
  # - ruby
  # - python
  # - nodejs
  # - docker
  # - k8s
  # - aws
  # - gcp
  # - direnv
  # - task

# Apps installed by the base role
install_apps:
  - vim
  - sudo
  - less
  - tree
  # - rename
  - htop
  # - fd-find
  - tldr
  - ncdu
  - zip
  - unzip
  - bzip2
  - tar
  - sed
  - jq
  - wget
  - curl
  - gcc
  - make
  - git
  - tmux
  - awscli
install_apps_4_ubuntu:
  - libsqlite3-dev
  - libffi-dev
  - libssl-dev
  - libreadline-dev
  - zlib1g-dev
  - g++
install_apps_4_ol8:
  - sqlite-devel
  - libffi-devel
  - openssl-devel
  - readline-devel
  - zlib-devel
  - oracle-epel-release-el8
  - gcc-c++
